:root{
  --main-background: #bebebe8f;

  --header-border: #800000 5px solid;
  --avatar-border: #800000 3px solid;
  --avatar-background: rgba(255, 213, 79, 0.27);
  --avatar-hover-background: rgba(255, 213, 79, 0.64);

  --main-button-border: 4px solid #585858;
  --main-button-shadow: inset 0 -10px 0 #bdbcbc;
  --header-button-border: 3px solid #585858;
  --header-button-shadow: inset 0 -5px 0 #bdbcbc;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
