<div class="app-container">
  <div class="app-item">

    <div class="btn-shape">
      <div class="flip-btn-inner flip-btn-front-btn" [appFlip]="isOrderSent">
        <div (click)="startNewOrder()" class="flip-btn-front">
          <div>
            <img src="../../../assets/icons/order-coffee.jpg" alt="order-coffee" class="btn-img">
          </div>
          <div class="flip-btn-back btn-shape">
            <img alt="stopwatch" src="../../../assets/icons/stopwatch.png" class="btn-img">
          </div>
        </div>
      </div>
    </div>

    <div class="facts-container">
      <div class="facts-title">
        <img style="width: 10%;" alt="lightbulb" src="../../../assets/icons/lightbulb.png">
        <p class="facts-text">{{currFact.title}}</p>
      </div>
      <hr>
      <p class="facts-text">{{currFact.body}}</p>
    </div>

    <div class="made-with">
      <span>Made with</span>
      <img alt="coffee" class="made-with-img" src="../../../assets/icons/icons8-cafe-48.png">
      <span>and</span>
      <img alt="heart" class="made-with-img" src="../../../assets/icons/icons8-pixel-heart-48.png">
      <span>By</span>
      <a href="https://github.com/ShneorNagar">Shneor Nagar</a>
    </div>
  </div>
</div>
