<div class="notifications-container">
  <div class="arrow"></div>
  <div class="content">
    <div class="title">
      <span>{{title}}</span>
    </div>
    <div class="br"></div>
    <div *ngIf="isOrderActive then btnSet else notificationsImage"></div>
  </div>
</div>

<ng-template #btnSet>
  <div class="btns-set">
    <p-button (click)="accept()" label="Accept" icon="pi pi-check" class="accept-btn"></p-button>
    <p-button (click)="decline()" label="Decline" icon="pi pi-times" class="decline-btn"></p-button>
  </div>
</ng-template>

<ng-template #notificationsImage>
  <img style="width: 15%" alt="empty notification" src="../../../../assets/icons/empty-notification.png">
</ng-template>
