<p-toast position="top-left" key="tl"></p-toast>

<div class="logo-container">
  <img alt="logo" src="../../../assets/title/CofficeTime.png" (click)="navigateToHome()" style="cursor: pointer">
</div>

<div class="header-container">
  <div style="margin-left: 10px">
    <button *ngIf="user"
            (click)="toggleNotifications()"
            icon="pi pi-bell"
            pTooltip="Notifications"
            tooltipPosition="bottom"
            pButton pRipple
            type="button"
            class="p-button-raised p-button-text p-button-plain header-button">
      <span id="redDot" [ngClass]="!!activeOrder ? 'show' : 'hide'"></span>
    </button>

    <button *ngIf="user"
            (click)="openChart()"
            icon="pi pi-chart-line"
            pTooltip="Charts"
            tooltipPosition="bottom"
            pButton pRipple
            type="button"
            class="p-button-raised p-button-text p-button-plain header-button">
    </button>

    <app-notifications *ngIf="showNotifications" (toggleShowNotifications)="toggleNotifications()" (responseSent)="toggleNotifications()" [order]="activeOrder"></app-notifications>
  </div>

  <div class="buttons-container" style="margin-right: 10px">
    <button pButton pRipple
            type="button"
            icon="pi pi-user-plus"
            pTooltip="Register"
            tooltipPosition="left"
            *ngIf="!user"
            (click)="openUserData(state.REGISTER)"
            class="p-button-raised p-button-primary p-button-text header-button"></button>

    <button pButton pRipple
            type="button"
            icon="pi pi-sign-in"
            pTooltip="Log-in"
            tooltipPosition="left"
            *ngIf="!user"
            (click)="openUserData(state.LOG_IN)"
            class="p-button-raised p-button-primary p-button-text header-button"></button>

      <app-user-avatar [isOpenMenu]="true" *ngIf="user"></app-user-avatar>
  </div>
</div>
