.padding-left{
  padding-left: 20px
}

.header-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.avatar{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--avatar-background);
  border-radius: 50%;
  width: 6em;
  height: 6em;
  border: var(--avatar-border);
}

.avatar:hover{
  background-color: var(--avatar-hover-background);
  transition: .25s ease-in-out;
  cursor: pointer;
}

.avatar-img{
  width: 5em;
  height: 5em;
}
