<div class="wrapper" id="notif-wrapper">
  <div class="notifications-container">
    <div class="arrow"></div>
    <div class="content">
      <div class="title">
        <span>{{title}}</span>
      </div>
      <div class="br"></div>
      <div *ngIf="isOrderActive then btnSet else notificationsImage"></div>
    </div>
  </div>
</div>

<ng-template #btnSet>
  <div class="btns-set">
    <button (click)="accept()" pButton pRipple type="button" icon="pi pi-check" class="accept-btn p-button-rounded"></button>
    <button (click)="decline()" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
  </div>
</ng-template>

<ng-template #notificationsImage>
  <img style="width: 15%" alt="empty notification" src="../../../assets/icons/empty-notification.png">
</ng-template>
